:root {
  font-family: 'Segoe UI', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #020202; 
  font-family: inherit;
}
.Navbar {
  display: flex;
  flex-direction: row;

  position: fixed; /* Ensure the Navbar is fixed at the top */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Ensure it spans the full width */
  margin: 0; /* Remove any margin */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 64px;
}
.Connect{
  width: 25px;
}
.lessons{
  height: 20px;
  width: 23px;
}
.Message{
  padding-top: 6px;
  height: 25px;
  width: 25px;
}
nav {
  background-color: #020202;
  padding: 4rem ;
}
.logo{
  padding-left: 4rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

nav li {
  text-align: center; /* Center the text below the icon */
  color: white; /* Set text color */
  margin: 0 12px; 
}

nav img {
  padding: 6px;
  display: block; /* Ensure the image is a block element */
  margin: 0 auto; /* Center the image */
  width: 20px; /* Set a consistent width for other images */
  height: 20px; /* Set a consistent height for other images */
}

.profilePic {
  padding-top: 0;
  padding-left: 0;
  width: 56px; /* Set width for the profile image */
  height: 48px; /* Set height for the profile image */
}

nav div {
  font-size: 10px; /* Set the desired font size */
}

.search-container {
  display: flex;
  align-items: center;
  margin: 1rem;
  position: relative; /* Added to position the icon inside */
}

.search-container input {
  border: 1px solid #ccc;
  border-radius: 20px; /* Adjusted for a more rounded look */
  padding: 0.5rem 2rem 0.5rem 2.5rem; /* Increased left padding for better spacing */
  margin-left: 1rem;
  width: 230px; /* Set a width for the input */
  background-color: #101010; /* Background color for the input */
  height: 15px; /* Set a height for the input */
}

.search-container img {
  position: absolute; /* Positioning the icon */
  left: 28px; /* Adjust as needed */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
}